# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
2/node_modules/
3/node_modules/
4/node_modules/
5/node_modules/
6/node_modules/
7/node_modules/
7_forms/node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
